# Exercici 1
A partir dels documents adjunts (estructura i dades), crea una base de dades amb MySQL. Mostra les característiques principals de l'esquema creat i explica les diferents taules i variables que hi ha.


# Exercici 2
Realitza la següent consulta sobre la base de dades acabada de crear: 

Has d'obtenir el nom, el país i la data de naixement d'aquelles persones per les quals no consti una data de mort i ordenar les dades de la persona més vella a la persona més jove.


# Exercici 3
Realitza la següent consulta sobre la base de dades acabada de crear: 

Has d'obtenir el nom del gènere i el nombre total de pel·lícules d'aquest gènere i ordenar-ho per ordre descendent de nombre total de pel·lícules.  


# Exercici 4

Realitza la següent consulta sobre la base de dades acabada de crear: 

Has d'obtenir, per a cada persona, el seu nom i el nombre màxim de rols diferents que ha tingut en una mateixa pel·lícula. 

Posteriorment, mostra únicament aquelles persones que hagin assumit més d'un rol en una mateixa pel·lícula.

# Exercici 5
Realitza la següent operació sobre la base de dades acabada de crear: 

Has de crear un nou gènere anomenat "Documental" el qual tingui com a identificador el nombre 69.



# Exercici 6
Fes la següent operació sobre la base de dades acabada de crear:  

Elimina la pel·lícula "La Gran Familia Española" de la base de dades.


# Exercici 7

Realitza la següent operació sobre la base de dades acabada de crear: 

Canvia el gènere de la pel·lícula "Ocho apellidos catalanes" perquè consti com a comèdia i no com a romàntica.

In [2]:
# connectar-se a mysql
import mysql.connector as sql

mydb =sql.connect(
    host="localhost",
    user="root",
    password="ha741doop",
    use_pure=True
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000020CB0D080D0>

In [3]:
#crear BDD 
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE IF NOT EXISTS SGAE_Practica")

In [4]:
#mycursor.execute("SET TRANSACTION READ WRITE")
mycursor.execute("BEGIN WORK")
#següent línia dona error 1193 (HY000): Unknown system variable 'datestyle'
#mycursor.execute("SET datestyle = YMD")
mycursor.execute("CREATE SCHEMA IF NOT EXISTS movies")

In [5]:
#crear tablas (a lo bruto- se puede hacer sin que esten en una línia?)
#crear tabla tb_genre
mycursor.execute("CREATE TABLE IF NOT EXISTS movies.tb_genre (genre_id         INTEGER NOT NULL , genre_name       CHARACTER VARYING(40) NOT NULL ,created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,created_date     DATE ,updated_date     DATE ,CONSTRAINT pk_genre PRIMARY KEY (genre_id))")
#crear tabla tb_movie
mycursor.execute("CREATE TABLE IF NOT EXISTS movies.tb_movie (movie_id         INTEGER NOT NULL , movie_title      CHARACTER VARYING(100) NOT NULL , movie_date       DATE ,movie_format     CHARACTER VARYING(50) , movie_genre_id   INTEGER , created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' , created_date     DATE , updated_date     DATE , CONSTRAINT pk_movie PRIMARY KEY (movie_id) , CONSTRAINT fk_movie_genre FOREIGN KEY (movie_genre_id) REFERENCES movies.tb_genre (genre_id))")
#crear tabla tb_role
mycursor.execute("CREATE TABLE IF NOT EXISTS movies.tb_role (role_id          INTEGER NOT NULL ,role_name        CHARACTER VARYING(60) NOT NULL ,created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,created_date     DATE ,updated_date     DATE ,CONSTRAINT pk_role PRIMARY KEY (role_id))")
#crear tabla tb_person
mycursor.execute("CREATE TABLE IF NOT EXISTS movies.tb_person (person_id        INTEGER NOT NULL ,person_name      CHARACTER VARYING(100) NOT NULL ,person_country   CHARACTER VARYING(40) , person_dob       DATE NOT NULL ,person_dod       DATE ,person_parent_id INTEGER ,created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,created_date     DATE ,updated_date     DATE ,CONSTRAINT pk_person PRIMARY KEY (person_id) ,CONSTRAINT fk_person_parent FOREIGN KEY (person_parent_id) REFERENCES movies.tb_person (person_id))")
#crear tabla tb_movie_person
mycursor.execute("CREATE TABLE IF NOT EXISTS movies.tb_movie_person (movie_id         INTEGER NOT NULL ,person_id        INTEGER NOT NULL ,role_id          INTEGER NOT NULL ,movie_award_ind  CHAR(1) NOT NULL ,created_by_user  CHARACTER VARYING(10) NOT NULL DEFAULT 'OS_SGAD' ,created_date     DATE ,updated_date     DATE ,CONSTRAINT pk_movper PRIMARY KEY (movie_id, person_id, role_id) ,CONSTRAINT fk_movper_movie FOREIGN KEY (movie_id) REFERENCES movies.tb_movie (movie_id) ,CONSTRAINT fk_movper_person FOREIGN KEY (person_id) REFERENCES movies.tb_person (person_id) ,CONSTRAINT fk_movper_role FOREIGN KEY (role_id) REFERENCES movies.tb_role (role_id))")

In [25]:
#contenido creado a través de mySQL command line

In [16]:
%sql
SHOW TABLES

SyntaxError: invalid syntax (2033639265.py, line 2)

![](mysqlwbex1.PNG)
![](mysqlcmdex1.PNG)
![](mysqlcmdex1_2.PNG)
![](mysqlcmdex1_3.PNG)

![](mysqlcmd4ex2.PNG)
![](mysqlcmd4ex3.PNG)
![](mysqlcmd4ex4.PNG)
![](mysqlcmd4ex5.PNG)
![](mysqlcmd4ex5_2.PNG)
![](mysqlcmd4ex6.PNG)
![](mysqlcmd4ex7.PNG)